#first-text{
    background-image: url(images/firstTextImage.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 575px;
}

.about-section{
    background-color: orangered;
}

#cs-logo{
    font-size: 50px;
}

.portfolio-image{
    background-image: url(images/450x245.png);
    background-size: cover;
    background-position: center bottom;
    height: 245px;   
}

.this-website{
    background-image: url(images/Portfolio/here.jpg);
}

.portfolio-text{
    opacity: 0;
    color: white;
    padding-top: 200px;
}


.portfolio-text:hover{
    opacity: 1;
}

.opacity-dot-five {
    opacity:0.5;
}

.z-1{
    z-index: 1;
}