#first-text{
    background-image: url(images/firstTextImage.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 575px;
}

.about-section{
    background-color: orangered;
}

#cs-logo{
    font-size: 50px;
}

.portfolio-image{
    background-image: url(images/450x245.png);
    background-size: cover;
    background-position: center bottom;
    height: 245px;   
}

#this-website-portfolio{
    background-image: url(images/Portfolio/here.jpg);
}

#checklist-porfolio{
    background-image: url(images/Portfolio/checklist.jpg);
}

#shopping-cart-portfolio{
    background-image: url(images/Portfolio/shopping-cart.jpg);
}

#math-game-portfolio{
    background-image: url(images/Portfolio/math-game.jpg);
    background-position: center top;
}

#currency-converter-portfolio{
    background-image: url(images/Portfolio/currency-converter.jpg);
    background-position: center top;
    width: 200px;
}

.portfolio-text{
    opacity: 0;
    color: white;
    padding-top: 200px;
}

#airbnb-clone-portfolio{
    background-image: url(images/Portfolio/airbnb-clone.png);
    padding-top: 15px;
}

.portfolio-text:hover{
    opacity: 1;
}

.opacity-dot-five {
    opacity:0.5;
}

.z-1{
    z-index: 1;
}